<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="logIn()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Campo Obligatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.email">
      Debe ser un correo electrónico válido.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Campo Obligatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Debe tener mínimo 6 caracteres de longitud.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Loguear<ion-spinner *ngIf="cargando" name="dots">
          </ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button [routerLink]="['/registration']" expand="block">Registrar</ion-button>
</ion-content>