<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-icon name="home" size="large" color="success"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-row class="ion-text-center" style="height: 50%;">
    <ion-col size="12" class="ion-align-self-center" style="height: 100%;">

      <ion-button expand="full" size="large" color="success" style="height: 100%;">
        <ion-icon slot="start" name="happy" style="font-size: 64px; color:brown;"></ion-icon>Cosas
        Lindas
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center" style="height: 50%;">
    <ion-col size="12" class="ion-align-self-center" style="height: 100%;">
      <ion-button expand="full" size="large" color="success" style="height: 100%;">Cosas Feas
        <ion-icon slot="start" name="sad" style="font-size: 64px; color:brown;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>