<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Fotos</ion-title>
    <ion-buttons slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row class="ion-align-items-start">
    <ion-col size="6" *ngFor="let foto of fotosPropias" class="ion-text-center">
      <img src="{{foto.file}}" alt="{{foto.name}}"
        style="background-image: url(../../assets/img/camara-fotografica.png);" width="200" height="200px">
    </ion-col>
  </ion-row>
</ion-content>