<ion-header>
  <ion-toolbar>
    <ion-title>subida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-upload></app-upload>
  <ion-item *ngFor="let foto of fotos">
    <img src="{{foto.file}}" alt="{{foto.name}}" style="width: 100px;" />{{foto.own | slice:0:5}}
    <ion-icon *ngIf="!foto.isLike" (click)="like(foto.key, foto.likes)" name="heart-outline"></ion-icon>
    <ion-icon *ngIf="foto.isLike" (click)="disLike(foto.key, foto.likes)" name="heart"></ion-icon>
    dd
  </ion-item>

</ion-content>